<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>
<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
<div>

    <form th:action="@{/dogear/add/media_type} " method="post">

        <select for="mediaType" name="mediaType">
            <option value="MOVIE">Movie</option>
            <option value="BOOK">Book</option>
            <option value="AUDIO_BOOK">Audio Book</option>
            <option value="PODCAST">Podcast</option>
        </select>

        <div>
            <label for="title"> Title </label>
            <input id="title" name="title" type="text">
        </div>

        <button type="submit">Add</button>
    </form>
</div>

<br>
<hr>
<br>

<div>
    <form th:action="@{/dogear/add/dogear} " method="post">

        <div class="form-group blu-margin">
            <select class="form-control" id="media" name="tempMediaId">
                <option value="0">Select Media</option>
                <option th:each="media : ${medias}" th:value="${media.uid}" th:text="${media.mediaType} + ': ' + ${media.title}"></option>
            </select>
        </div>

        <div>
            <label for="earmark">Ear Mark</label>
            <input id="earmark" name="earmark" type="text" th:value="${earmark}"/>
        </div>

        <div>
            <label for="note">Notes</label>
            <input id="note" name="note" type="text" th:value="${note}"/>
        </div>
        <button type="submit">Remember This</button>
    </form>
</div>


<div>
    <div th:if="${not #lists.isEmpty(dogears)}">
        <h2>Dogears</h2>
        <div class="table table-striped">
            <div th:each="dogear : ${dogears}" class="dogear-container">
                <p th:text="'Title: ' + ${dogear.media.title}"></p>
                <p th:text="'Earmark: ' + ${dogear.earmark}" class="dogear"></p>
                <p th:text="'Note: ' + ${dogear.note}" class="dogear"></p>
            </div>
        </div>
    </div>

</div>

</body>
</html>