<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/dogeared.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'Dogeared' + ${title == null ? '' : ' :: ' + title}">Dogeared</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">DogEared</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:unless="${session == null}"><a th:href="@{/login}">Login</a></li>
                <li th:unless="${session == null}"><a th:href="@{/registration}">Register</a></li>
                <li th:unless="not ${session == null}"><a th:href="@{/dogear}">DogEar </a></li>
                <li th:unless="not ${session == null}"><a th:href="@{/logout}">Logout </a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>